header {
    width: 100%;
    height: 70px;
    background-color: var(--dr-color-bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 30px;
    height: 30px;
}

nav {
    display: flex;
    color: var(--dr-color-font-primary);
    font-size: 16px;
}

.dr-container-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}